{
  "openapi": "3.0.1",
  "info": {
    "version": "0.0",
    "x-build-id": "myPjTT8uPdLUTw14w"
  },
  "servers": [
    {
      "url": "https://api.apify.com/v2"
    }
  ],
  "paths": {
    "/acts/nmdmnd~yahoo-finance/run-sync-get-dataset-items": {
      "post": {
        "operationId": "run-sync-get-dataset-items-nmdmnd-yahoo-finance",
        "x-openai-isConsequential": false,
        "summary": "Executes an Actor, waits for its completion, and returns Actor's dataset items in response.",
        "tags": [
          "Run Actor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputSchema"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Enter your Apify token here"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/acts/nmdmnd~yahoo-finance/runs": {
      "post": {
        "operationId": "runs-sync-nmdmnd-yahoo-finance",
        "x-openai-isConsequential": false,
        "summary": "Executes an Actor and returns information about the initiated run in response.",
        "tags": [
          "Run Actor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputSchema"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Enter your Apify token here"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runsResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/acts/nmdmnd~yahoo-finance/run-sync": {
      "post": {
        "operationId": "run-sync-nmdmnd-yahoo-finance",
        "x-openai-isConsequential": false,
        "summary": "Executes an Actor, waits for completion, and returns the OUTPUT from Key-value store in response.",
        "tags": [
          "Run Actor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputSchema"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Enter your Apify token here"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "inputSchema": {
        "type": "object",
        "required": [
          "market"
        ],
        "properties": {
          "market": {
            "title": "Market",
            "enum": [
              "world_indices",
              "futures",
              "bonds",
              "currencies",
              "options",
              "stocks",
              "crypto",
              "etfs",
              "chart"
            ],
            "type": "string",
            "description": "Select the Market section to get data from.",
            "default": "world_indices"
          },
          "predefined_options": {
            "title": "Predefined Options",
            "enum": [
              "MOST_ACTIVES_OPTIONS",
              "DAY_GAINERS_OPTIONS",
              "DAY_LOSERS_OPTIONS",
              "TOP_OPTIONS_IMPLIED_VOLATALITY",
              "TOP_OPTIONS_OPEN_INTEREST"
            ],
            "type": "string",
            "description": "Select the predefined options to get data from. Only applicable for Options.",
            "default": "MOST_ACTIVES_OPTIONS"
          },
          "predefined_stocks": {
            "title": "Predefined Stocks",
            "enum": [
              "MOST_ACTIVES",
              "TRENDING",
              "DAY_GAINERS",
              "DAY_LOSERS",
              "FIFTY_TWO_WK_GAINERS",
              "FIFTY_TWO_WK_LOSERS"
            ],
            "type": "string",
            "description": "Select the predefined stocks to get data from. Only applicable for Stocks.",
            "default": "MOST_ACTIVES"
          },
          "predefined_crypto": {
            "title": "Predefined Crypto",
            "enum": [
              "ALL_CRYPTOCURRENCIES_US",
              "MOST_ACTIVES_CRYPTOCURRENCIES",
              "DAY_GAINERS_CRYPTOCURRENCIES",
              "DAY_LOSERS_CRYPTOCURRENCIES"
            ],
            "type": "string",
            "description": "Select the predefined crypto to get data from. Only applicable for Cryptocurrencies.",
            "default": "ALL_CRYPTOCURRENCIES_US"
          },
          "predefined_etfs": {
            "title": "Predefined ETFS",
            "enum": [
              "MOST_ACTIVES_ETFS",
              "DAY_GAINERS_ETFS",
              "DAY_LOSERS_ETFS",
              "TOP_PERFORMING_ETFS",
              "TRENDING",
              "BEST_HIST_PERFORMANCE_ETFS",
              "TOP_ETFS_US"
            ],
            "type": "string",
            "description": "Select the predefined ETFS to get data from. Only applicable for ETFs.",
            "default": "MOST_ACTIVES_ETFS"
          },
          "symbol": {
            "title": "Symbol",
            "type": "string",
            "description": "The symbol to use as input for Chart (Time Series) data.",
            "default": "AAPL"
          },
          "interval": {
            "title": "Interval",
            "enum": [
              "1m",
              "2m",
              "5m",
              "15m",
              "30m",
              "60m",
              "90m",
              "1h",
              "1d",
              "5d",
              "1wk",
              "1mo",
              "3mo"
            ],
            "type": "string",
            "description": "The interval to use for Chart (Time Series) data.",
            "default": "1d"
          },
          "range": {
            "title": "Range",
            "enum": [
              "1d",
              "5d",
              "1mo",
              "3mo",
              "6mo",
              "1y",
              "2y",
              "5y",
              "10y",
              "ytd",
              "max"
            ],
            "type": "string",
            "description": "The range to use for Chart (Time Series) data.",
            "default": "1d"
          },
          "count": {
            "title": "Count",
            "type": "integer",
            "description": "Number of records to return. Only applicable for Options, Stocks, Cryptocurrencies, ETFS.",
            "default": 25
          },
          "offset": {
            "title": "Offset",
            "type": "integer",
            "description": "The offset to start from. Only applicable for Options, Stocks, Cryptocurrencies, ETFS.",
            "default": 0
          },
          "region": {
            "title": "Region",
            "enum": [
              "US",
              "CA",
              "FR",
              "DE",
              "HK",
              "IN",
              "IT",
              "ES",
              "GB",
              "AU",
              "BR",
              "CN",
              "NL",
              "RU",
              "SG",
              "SE",
              "CH",
              "TW",
              "JP"
            ],
            "type": "string",
            "description": "Select the region to get data from. Only applicable for Options, Stocks, Cryptocurrencies, ETFS",
            "default": "US"
          },
          "proxy": {
            "title": "Proxy configuration",
            "type": "object",
            "description": "Select proxies to be used by the scraper."
          }
        }
      },
      "runsResponseSchema": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "actId": {
                "type": "string"
              },
              "userId": {
                "type": "string"
              },
              "startedAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-08T00:00:00.000Z"
              },
              "finishedAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-08T00:00:00.000Z"
              },
              "status": {
                "type": "string",
                "example": "READY"
              },
              "meta": {
                "type": "object",
                "properties": {
                  "origin": {
                    "type": "string",
                    "example": "API"
                  },
                  "userAgent": {
                    "type": "string"
                  }
                }
              },
              "stats": {
                "type": "object",
                "properties": {
                  "inputBodyLen": {
                    "type": "integer",
                    "example": 2000
                  },
                  "rebootCount": {
                    "type": "integer",
                    "example": 0
                  },
                  "restartCount": {
                    "type": "integer",
                    "example": 0
                  },
                  "resurrectCount": {
                    "type": "integer",
                    "example": 0
                  },
                  "computeUnits": {
                    "type": "integer",
                    "example": 0
                  }
                }
              },
              "options": {
                "type": "object",
                "properties": {
                  "build": {
                    "type": "string",
                    "example": "latest"
                  },
                  "timeoutSecs": {
                    "type": "integer",
                    "example": 300
                  },
                  "memoryMbytes": {
                    "type": "integer",
                    "example": 1024
                  },
                  "diskMbytes": {
                    "type": "integer",
                    "example": 2048
                  }
                }
              },
              "buildId": {
                "type": "string"
              },
              "defaultKeyValueStoreId": {
                "type": "string"
              },
              "defaultDatasetId": {
                "type": "string"
              },
              "defaultRequestQueueId": {
                "type": "string"
              },
              "buildNumber": {
                "type": "string",
                "example": "1.0.0"
              },
              "containerUrl": {
                "type": "string"
              },
              "usage": {
                "type": "object",
                "properties": {
                  "ACTOR_COMPUTE_UNITS": {
                    "type": "integer",
                    "example": 0
                  },
                  "DATASET_READS": {
                    "type": "integer",
                    "example": 0
                  },
                  "DATASET_WRITES": {
                    "type": "integer",
                    "example": 0
                  },
                  "KEY_VALUE_STORE_READS": {
                    "type": "integer",
                    "example": 0
                  },
                  "KEY_VALUE_STORE_WRITES": {
                    "type": "integer",
                    "example": 1
                  },
                  "KEY_VALUE_STORE_LISTS": {
                    "type": "integer",
                    "example": 0
                  },
                  "REQUEST_QUEUE_READS": {
                    "type": "integer",
                    "example": 0
                  },
                  "REQUEST_QUEUE_WRITES": {
                    "type": "integer",
                    "example": 0
                  },
                  "DATA_TRANSFER_INTERNAL_GBYTES": {
                    "type": "integer",
                    "example": 0
                  },
                  "DATA_TRANSFER_EXTERNAL_GBYTES": {
                    "type": "integer",
                    "example": 0
                  },
                  "PROXY_RESIDENTIAL_TRANSFER_GBYTES": {
                    "type": "integer",
                    "example": 0
                  },
                  "PROXY_SERPS": {
                    "type": "integer",
                    "example": 0
                  }
                }
              },
              "usageTotalUsd": {
                "type": "number",
                "example": 0.00005
              },
              "usageUsd": {
                "type": "object",
                "properties": {
                  "ACTOR_COMPUTE_UNITS": {
                    "type": "integer",
                    "example": 0
                  },
                  "DATASET_READS": {
                    "type": "integer",
                    "example": 0
                  },
                  "DATASET_WRITES": {
                    "type": "integer",
                    "example": 0
                  },
                  "KEY_VALUE_STORE_READS": {
                    "type": "integer",
                    "example": 0
                  },
                  "KEY_VALUE_STORE_WRITES": {
                    "type": "number",
                    "example": 0.00005
                  },
                  "KEY_VALUE_STORE_LISTS": {
                    "type": "integer",
                    "example": 0
                  },
                  "REQUEST_QUEUE_READS": {
                    "type": "integer",
                    "example": 0
                  },
                  "REQUEST_QUEUE_WRITES": {
                    "type": "integer",
                    "example": 0
                  },
                  "DATA_TRANSFER_INTERNAL_GBYTES": {
                    "type": "integer",
                    "example": 0
                  },
                  "DATA_TRANSFER_EXTERNAL_GBYTES": {
                    "type": "integer",
                    "example": 0
                  },
                  "PROXY_RESIDENTIAL_TRANSFER_GBYTES": {
                    "type": "integer",
                    "example": 0
                  },
                  "PROXY_SERPS": {
                    "type": "integer",
                    "example": 0
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
